* {
    margin: 0%;
    
}

body {
    background-color: #F5EBEB;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
        
}

div .container .box {
    border: 2px solid gold;
    border-radius: 5%;
    height:650x;
    
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    


}

div .first {
    background-color: #E4D0D0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('images/3div.jpg');
    background-position: center;
    height: 650px;
    width: 500px;
    
}
    
    



div .second {
    background-color: white;
    opacity: 0;
    transition: opacity 0.99s ease;
    background-image: url('images/1div.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 500px;
    

}




div .third {
    background-color: white;
    opacity: 0;
    transition: opacity 0.99s ease;
    background-image: url('images/2div.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 500px;
   
   
    
    
}
div .fourth {
    background-color: white;
    opacity: 0;
    transition: opacity 0.99s ease;
    height: 650px;
    width: 500px;
    
    
   
    

}
div.box.visible {
    opacity:1;
}


div .sticky {
    width: 100%;
    height: 100px;
    background-color: black;
    border-radius: 10%;
    position: sticky;
}



/* Media query for screens smaller than 600px */
@media (max-width: 1200px){
    .container .box {
        height: 600px;
        width: 400px;
    }
    

}

/* Media query for screens smaller than 400px */
@media (min-width: 768px) {
    .box {
      height: 750px;
      margin: 10px;
      width:600px ;
      
    }
    
}



.navbar {
    position: fixed;
    bottom: 0;
    width: 35%;
    background-color: #F5EBEB;
    color: black;
    border-radius: 10px;
    height: 65px;
    border: 2px solid gold;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    
  }
  
  .navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .navbar li {
    padding: 30px;
    text-align:  center;
    font-family: 'Cormorant', serif;
    font-size: 25px;
    font-weight: bold;


    
  }
  .icon {
    display: block;
    text-align: center; /* adjust as needed */
  }
  
  .text {
    display: block;
    text-align: center; /* adjust as needed */
  }
  
  /* Mobile responsive */
@media only screen and (max-width: 1025px) {
    .navbar {
        width: 350px;
    }
    .navbar ul {
      justify-content: space-between;
      align-items: center;
      width: 350px;
    }
    
    .navbar li {
      padding: 10px 0;
      font-size:20px;
      padding: 10px;
    }
  }

  @media only screen and (max-width: 481px) {
    .navbar {
      width: 450px;
  }
  .navbar ul {
    justify-content: space-between;
    align-items: center;
    width: 400px;
  }
  
  .navbar li {
    padding: 10px 0;
  }
  }

  .balls-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  
  
  .ball {
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    width: 20px;
    height: 20px;
    animation: move 3s ease-in-out infinite;
    background-color: white;
    filter: blur(3px);

  }
  
  .ball-1 {
    top: 10%;
    left: 10%;
    animation-delay: 0.5s;
    
  }
  
  .ball-2 {
    top: 40%;
    left: 50%;
    animation-delay: 1s;
    
    
  }
  
  .ball-3 {
    top: 80%;
    left: 20%;
    animation-delay: 1.5s;
    
  }
  
  .ball-4 {
    top: 50%;
    left: 80%;
    animation-delay: 2s;
    
    
  }
  
  .ball-5 {
    top: 70%;
    left: 40%;
    animation-delay: 2.5s;
    opacity: 3;
    
  }
  
  @keyframes move {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(50px, 50px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

a {
    text-decoration: none;
    color: black;
    position: relative;

}

a:hover {

    color: green
    
    
}



