* {
    margin: 0%;
    
}

/* :root {
  --clr:#F5EBEB;
} */

body {
    background-color: #F5EBEB;
    /* background:var(--clr) */
}

p {
  margin: 30px;
  font-family: 'Cormorant', serif;
  
}

h1  {
  font-family: 'Cormorant', serif;
  letter-spacing: 2px;
  
  
}

h2 {
  font-family: 'Cormorant', serif;
  letter-spacing: 2px;
  

}

small {
  font-family: 'Cormorant', serif;
  letter-spacing: 2px;
  font-weight: 950;
}

.animate-paragraph {
  font-family: 'Great Vibes', cursive;
  margin: 0;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 5px;
    
        
}

div .container .box {
    border: 2px solid gold;
    border-radius: 5%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    
   
}



div.box.visible {
  opacity: 1;
  opacity: 1; /* Show when visible */
  transform: scale(1);
}


div .first  {
    background-color: #E4D0D0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('images/3div.jpg');
    background-position: center;
    height: 850px;
    width: 600px;
    margin-top: 50px;
    
    
}



/* Leaf style */

.first .set img {
  height: 20px;
  width: 27px;
  opacity: 0.7;
}


.first {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.first .set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* Leaf animation */

.first .set div {
  position: absolute;
  display: block;
  animation: animate 7s linear infinite;
  top: 0%;
}

.first .set div:nth-child(1) {
  left: 10%;
  animation-duration: 15s;
  animation-delay: 0s;
  animation-timing-function: linear;
}

.first .set div:nth-child(2) {
  left: 20%;
  animation-duration: 17s;
  animation-delay: -7s;
  animation-timing-function: ease-in-out;
}

.first .set div:nth-child(3) {
  left: 30%;
  animation-duration: 16s;
  animation-delay: -3s;
  animation-timing-function: ease-out;
}

.first .set div:nth-child(4) {
  left: 40%;
  animation-duration: 19s;
  animation-delay: -6s;
  animation-timing-function: linear;
}

.first .set div:nth-child(5) {
  left: 50%;
  animation-duration: 15s;
  animation-delay: -4s;
  animation-timing-function: ease-in;
}

.first .set div:nth-child(6) {
  left: 60%;
  animation-duration: 18s;
  animation-delay: -2s;
  animation-timing-function: ease-out;
}

.first .set div:nth-child(7) {
  left: 70%;
  animation-duration: 20s;
  animation-delay: -5s;
  animation-timing-function: linear;
}

.first .set div:nth-child(8) {
  left: 80%;
  animation-duration: 16s;
  animation-delay: -3s;
  animation-timing-function: ease-in-out;
}

.first .set div:nth-child(9) {
  left: 90%;
  animation-duration: 19s;
  animation-delay: -1s;
  animation-timing-function: ease-out;
}

.first .set div:nth-child(10) {
  left: 15%;
  animation-duration: 18s;
  animation-delay: -4s;
  animation-timing-function: linear;
}

.first .set div:nth-child(11) {
  left: 25%;
  animation-duration: 15s;
  animation-delay: -2s;
  animation-timing-function: ease-in-out;
}

.first .set div:nth-child(12) {
  left: 35%;
  animation-duration: 16s;
  animation-delay: -1s;
  animation-timing-function: ease-in-out;
}

.first .set div:nth-child(13) {
  left: 45%;
  animation-duration: 17s;
  animation-delay: -4s;
  animation-timing-function: ease-in-out;
}

.first .set div:nth-child(14) {
  left: 65%;
  animation-duration: 15s;
  animation-delay: -3s;
  animation-timing-function: ease-in-out;
}

.first .set div:nth-child(15) {
  left: 15%;
  animation-duration: 16s;
  animation-delay: -4s;
  animation-timing-function: ease-in-out;
}

.first .set div:nth-child(16) {
  left: 45%;
  animation-duration: 20s;
  animation-delay: -1s;
  animation-timing-function: ease-in-out;
}

.first .set div:nth-child(17) {
  left: 35%;
  animation-duration: 16s;
  animation-delay: -3s;
  animation-timing-function: ease-in-out;
}

.first .set div:nth-child(18) {
  left: 50%;
  animation-duration: 19s;
  animation-delay: -7s;
  animation-timing-function: ease-in-out;
}


@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(-50px) rotate(0deg) scale(0.5);
    top: 0%;
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: translateY(100vh) rotate(720deg) scale(1.5);
    top: 100%;
  }
  100% {
    opacity: 0;
    transform: translateY(100vh) rotate(720deg) scale(0.5);
    top: 100%;
  }
}


div .second {
    background-color: white;
    opacity: 0;
    transition: opacity 0.99s ease;
    background-image: url('images/1div.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0; /* Start hidden */
    transform: scale(0.5); /* Start small */
    transition: opacity 0.5s ease-out, transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    

}

div .second .content h1 {
  font-size: 60px;
  letter-spacing: 5px;
  font-family: 'Great Vibes', cursive;
  font-weight: 100;
  padding-top: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  height: 55px;

}

div .second .content #p-first{
  font-size: 35px;
  padding-bottom: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   
}

div .second .content img {
  position: absolute;
  bottom: 100px;
  height: 30px;
  
}

 .content  #p-second {
  position: absolute;
  font-family: 'Cormorant', serif;
  bottom: 75px;

  font-size: 20px;
}

.content #p-third {
  position: absolute;
  font-family: 'Cormorant', serif;
  bottom: 60px;

  font-size: 15px;
}

.content #p-fourth {
  position: absolute;
  font-family: 'Cormorant', serif;
  top: 130px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 15px;
}
.content #p-fifth {
  position: absolute;
  font-family: 'Cormorant', serif;
  top: 150px;
  padding-left: 35px;
  padding-right: 30px;

  font-size: 15px;
}

@media screen and (min-width: 1200px) {
  div .second .content h1{
    font-size: 90px;
    height: 85px;
    
  }
  div .second .content p {
    font-size: 55px;
  }
  div .second .content #p-first {
    font-size: 55px;
  }


  div .second .content {
    margin-bottom: 70px;
  }
  .content  #p-second {
    font-size: 30px;
    bottom: 100px;
  }
  .content #p-third {
    font-size: 20px;
    bottom: 80px;
  }
  div .second .content img {
    bottom: 140px;
  }
  .content #p-fourth {
    font-size: 20px;
    top: 200px;
    padding-right: 50px;
    padding-left: 60px;
  }
  .content #p-fifth {
    font-size: 20px;
    top: 230px;
    padding-right: 50px;
    padding-left: 60px;
  }

}


@media (min-width: 1025px) and (max-width: 1200px) {
  div .second .content {
    margin-bottom: 10px;
  }
}



div .third {
    background-color: white;
    opacity: 0;
    transition: opacity 0.99s ease;
    background-image: url('images/2div.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    width: 600px;
    opacity: 0; /* Start hidden */
    transform: scale(0.5); /* Start small */
    transition: opacity 0.5s ease-out, transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

}

div .fourth {
    background-color: white;
    opacity: 0;
    transition: opacity 0.99s ease;
    height: 850px;
    width: 600px;
    background-image: url('images/6div.jpg');
    background-repeat: no-repeat;
    background-origin: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    opacity: 0; /* Start hidden */
    transform: scale(0.5); /* Start small */
    transition: opacity 0.5s ease-out, transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

}



div .fourth .content h1{
  font-weight: 100;
}

/*timeline */
.container-timeline {
  padding: 0px 50px;
  height: 45px;
  position: relative;
  width: 160px;
  animation: movedown 1s linear forwards;
  opacity: 0;
  transform: translateY(-30px);
  animation-delay: 0.5s;
  
  
}



@keyframes movedown {
  0%{
    opacity: 1;
    transform: translateY(-30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}


.container-timeline:nth-child(1) {
  animation-delay: 0s;
}
.container-timeline:nth-child(2) {
  animation-delay: 1s;
}
.container-timeline:nth-child(3) {
  animation-delay: 2s;
}
.container-timeline:nth-child(4) {
  animation-delay: 3s;
}
.container-timeline:nth-child(5) {
  animation-delay: 4s;
}


.text-box {
  padding: 15px;
  
  position: relative;
  border-radius: 6px;
  
  font-size: 11px;
  margin-top: 0px;
  
  
}

.text-box h2 {
  text-decoration: underline;
  text-underline-offset: 3px;
  padding-bottom: 5px;

   
}


.right-container {
  right: 30%;
}

.left-container {
  left:30% ;
}
.timeline::after{
  content: '';
  position: absolute;
  width: 1px;
  
  background-color: black;
  
  top: 160px;
  left: 51%;
  animation: moveline 5s ease-in-out forwards;
  box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.5);

}

@keyframes moveline {
  0%{
    height: 0;
  }
  100%{
    height:55% ;
  }
  
}

/*For larger screen*/
@media (min-width: 1200px) {
  .container-timeline {
    width: 50%;
    height: 90px;
    
  }
  .text-box {
    font-size: 17px;
  }
  .timeline::after{
    top: 250px;
    width: 2px;
  }
  .text-box {
    padding: 15px;
  }

}


/*For smaller screen*/
@media only screen and (max-width: 1200px) and (min-width: 405px) {
  .container-timeline{
    width: 160px;
    height: 45px;

  }
  .text-box{
    font-size: 11px;
  }
  .timeline::after {
    top: 160;
    
  }
  
  
}

.visible .fifth {
  opacity: 1;
  transform: translateY(0);
}

.animate-heading {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}

.visible .animate-heading {
  opacity: 1;
  transform: translateY(0);
}

.animate-paragraph {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}

.visible .animate-paragraph {
  opacity: 1;
  transform: translateY(0);
}


/*new div*/

div .fifth {
  background-color: white;
  opacity: 0;
  transition: opacity 0.99s ease;
  height: 850px;
  width: 600px;
  background-image: url('images/4div.jpg');
  background-repeat: no-repeat;
  background-origin: center;
  background-size: cover;
  opacity: 0; /* Start hidden */
  transform: scale(0.5); /* Start small */
  transition: opacity 0.5s ease-out, transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div .sixth {
  background-color: white;
  opacity: 0;
  transition: opacity 0.99s ease;
  height: 850px;
  width: 600px;
  background-image: url('images/5div.jpg');
  background-repeat: no-repeat;
  background-origin: center;
  background-size: cover;
  opacity: 0; /* Start hidden */
  transform: scale(0.5); /* Start small */
  transition: opacity 0.5s ease-out, transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}



div .seventh {
  background-color: white;
  opacity: 0;
  transition: opacity 0.99s ease;
  height: 850px;
  width: 600px;
  background-image: url('images/7div.jpg');
  background-repeat: no-repeat;
  background-origin: center;
  background-size: cover;
  opacity: 0; /* Start hidden */
  transform: scale(0.5); /* Start small */
  transition: opacity 0.5s ease-out, transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}



div .sticky {
    width: 100%;
    height: 100px;
    background-color: black;
    border-radius: 10%;
    position: sticky;
}



/* Media query for screens smaller than 600px */
@media (max-width: 1200px){
    .container .box {
        height: 550px;
        width: 380px;
    }
   
    

}

/* Media query for screens smaller than 400px */
@media (min-width: 768px) {
    .box {
      height: 750px;
      margin: 10px;
      width:600px ;
      
    }
    
}

div .content  {
  font-size: 25px;
 
}

div .content h1 {
  padding-top: 60px;
  font-size: 40px;
}

div .content p {
  padding-right: 35px;
  padding-left: 30px;
  padding-top: 5px;
}



@media (min-width:1025px) {
  div .content {
    font-size:30px ;
    padding-top: 40px;
    
  }
  div .content h1 {
    font-size: 40px;
    
  }
  
}

@media (min-width: 1025px) and (max-width: 1200px) {
  div .content h1 {
    font-size: 40px;
    padding-top: 20px;
    /* padding-right: 20px; */
  }
  
}


/* Navbar bottom */
.navigation {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.menuToggle {
  position: relative;
  width: 55px;
  height: 55px;
  background-color: #F0997D;
  border: 5px solid var(--clr);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translateY(-30px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  margin-bottom: 5px;
}

.menuToggle::before{
  content:'+' ;
  position: absolute;
  font-size: 3em;
  color: black;
  transition: 1.5s;
  
}
.menuToggle.active:before {
  transform: rotate(225deg);
  opacity: 0.9;
}

.menuToggle i {
  position: absolute;
  inset: 0;
}

.menuToggle i::before{
  content: '';
  position: absolute;
  top: 18px;
  left: -24px;
  width: 20px;
  height: 20px;
  background:transparent;
  border-top-right-radius: 20px;
  box-shadow: 3px -6px var(--clr)

}

.menuToggle i::after{
  content: '';
  position: absolute;
  top: 18px;
  right: -24px;
  width: 20px;
  height: 20px;
  background:transparent;
  border-top-left-radius: 20px;
  box-shadow: -3px -6px var(--clr)

}

.menu {
  position: absolute;
  width: 55px;
  height:55px;
  background-color: white;
  border-radius: 70px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(-30px);
  transition: transform 0.5s, width 0.5s, height 0.5s;
  transition-delay:0s, 0.5s, 0.5s ;
  opacity: 0.5;
  margin-bottom: 5px;
  
}

.menuToggle.active ~ .menu {
  width: 360px;
  height: 60px;
  transform: translateY(0px);
  opacity: 1;
  transition-delay:0s, 0.5s, 0.5s ;
}


.menu ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  line-height: 80px;
  padding-right: 35px;
  
}

.menu ul li {
  list-style: none;
  cursor: pointer;
  font-size: 30px;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  transition-delay: calc(0s + var(--i));

  
}

.menuToggle.active ~ .menu ul li{
  opacity: 1;
  visibility: visible;
  transition-delay: calc(0.75s + var(--i));
  
}

.menu ul li a {
  display: block;
  font: 2em;
  text-decoration: none;
} 
.menu ul li a:hover {
  color: gold;
}

  /*link style */
a {
    text-decoration: none;
    color: #CE5959;
    position: relative;

}

a:hover  {

    color: green
     
}


.sound button {
  
  color: black;
  border-radius: 100%;
  
  border: 3px solid black;
}

.sound .icon {
  height: 35px;
  width: 25px;
}

.sound button:Hover {
  color: gold;
}





